# Built by Android Studio
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
.cxx
/app/build
/app/.cxx
/app/.externalNativeBuild

# Exclude Firebase Secrets (WICHTIG!)
/app/google-services.json
